.animeo-card {
    border: solid 1px black;
    width: 400px;
    height: 40px;
    margin: 10px;
    padding: 5px;
    display: flex;
    align-items: center;
}

/* .animeo-card {
    border: solid 1px black;
    width: 400px;
    height: 40px;
    margin: 10px;
    padding: 5px;
    display: flex;
    align-items: center;
} */